* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  z-index: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 16px;
  background-image: linear-gradient(to bottom, #ffffff, #f0f3f5);
  color: #353e4c;
}

header {
  padding: 0 10px;
}

h2 {
  color: #344256;
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

h2::before {
  content: "";
  display: block;
  width: 170px;
  height: 10px;
  background-color: #ff8833;
  margin-bottom: 50px;
}

img {
  display: block;
  max-width: 100%;
}

.hero-banner {
  background: linear-gradient(#000020b8, #000020b8),
    url("../assets/images/banner-image-background.png") no-repeat center center /
      cover;
  background-attachment: fixed;
  padding-bottom: 90px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
  max-width: 979px;
  margin: 0 auto;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 32px;
  margin-left: auto;
}

.nav-links a {
  color: #f1f1f1;
  text-decoration: none;
  transition: 0.3s;
  padding: 10px;
}

.nav-links a:hover {
  color: #ff8833;
}

.btn-hamburguer {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.btn-hamburguer span {
  display: block;
  width: 40px;
  height: 4px;
  background-color: #f1f1f1;
  transition: all 0.3s;
  margin: 10px 0;
}

.btn-hamburguer::after,
.btn-hamburguer::before {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  transition: all 0.3s;
  background-color: #f1f1f1;
}

[data-hamburguer="open"] span {
  background-color: transparent;
}

[data-hamburguer="open"]::after,
[data-hamburguer="open"]::before {
  position: absolute;
  top: 50%;
}

[data-hamburguer="open"]::after {
  transform: rotate(-43deg);
}

[data-hamburguer="open"]::before {
  transform: rotate(43deg);
}

.introducao-content {
  padding: 0 10px;
  max-width: 979px;
  margin: 0 auto;
}

.introducao-content > div h1 {
  max-width: 572px;
  color: #ff8833;
  font-size: 55px;
  line-height: 60px;
  margin-bottom: 15px;
}

.introducao-content > div h1 span {
  display: block;
  color: #f1f1f1;
}

.introducao-content > div h1::before {
  content: "";
  width: 170px;
  height: 10px;
  display: block;
  background-image: linear-gradient(to right, #ff8833, transparent);
  margin-bottom: 17px;
}

.introducao-content > div p {
  max-width: 572px;
  color: #f1f1f1;
  font-size: 16px;
  margin-bottom: 50px;
}

.introducao-content > div a[type="button"],
form button[type="submit"] {
  max-width: max-content;
  text-decoration: none;
  color: #f1f1f1;
  font-weight: bold;
  background-color: #ff8833;
  border-radius: 10px;
  font-size: 16px;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.introducao-content > div a[type="button"]:hover {
  background-color: #ff6c03;
}

#sobre > div {
  padding: 70px 10px;
  max-width: 979px;
  margin: 0 auto;
}

div > .sobre-container {
  display: grid;
  grid-template-columns: 1fr 325px;
  align-items: center;
  justify-content: space-between;
  column-gap: 68px;
}

div > .sobre-container div:nth-child(2) {
  flex: 0 0 50%;
}

#sobre p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

#servicos > div {
  padding: 0 10px 70px 10px;
  max-width: 979px;
  margin: 0 auto;
  text-align: center;
}

#servicos h2::before {
  margin-left: auto;
}

.servicos-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  margin-top: 47px;
  text-align: left;
}

.servicos-container div:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1%;
  align-items: center;
}

.servicos-container div:nth-child(2) li:not(:last-child) {
  margin-bottom: 28px;
}

.servicos-container div:nth-child(2) li span {
  color: #ff8833;
  font-weight: bold;
}

#vantagens > div {
  padding: 0 10px 70px 10px;
  max-width: 979px;
  margin: 0 auto;
}

#vantagens p {
  text-align: center;
  line-height: 24px;
  margin-bottom: 28px;
}

#vantagens ul li:not(:last-of-type) {
  margin-bottom: 20px;
}

#vantagens li span {
  color: #ff8833;
  font-weight: bold;
}

.banner-color-background {
  background-color: #344256;
}

#contato {
  background-color: #051620;
  padding: 70px 10px;
}

#contato > div {
  max-width: 979px;
  margin: 0 auto;
  color: #f2f2f2;
}

.contato-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.contato-container::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: #4b6879;
}

.contato-container > div:nth-child(1) {
  flex: 0 0 50%;
  padding-right: 10%;
}

.contato-container > div:nth-child(2) {
  flex: 0 0 50%;
  padding-left: 10%;
}

.contato-container > div:nth-child(2) div {
  padding: 27px 0;
}

.contato-container > div:nth-child(2) div:nth-child(1) {
  padding-top: 0;
}

.contato-container > div:nth-child(2) div:nth-child(2) {
  border: 1px solid #4b6879;
  border-left: transparent;
  border-right: transparent;
}

.contato-container > div:nth-child(2) div:nth-child(3) {
  padding-bottom: 0;
}

.contato-container > div:nth-child(2) div h4 {
  margin-bottom: 5px;
}

.contato-container span {
  display: block;
  font-weight: 400;
}

#contato h2 {
  color: #f2f2f2;
}

#contato > div h2::before {
  margin-left: auto;
}

.contato-container label {
  display: block;
  font-weight: bold;
}

.contato-container input {
  height: 50px;
}

.contato-container :is(input, textarea) {
  background-color: #133245;
  border-radius: 10px;
  border: none;
  display: block;
  width: 100%;
  padding: 20px;
  outline: none;
  transition: all 0.1s;
  margin: 3px 0 16px 0;
  color: #f2f2f2;
  resize: vertical;
}

.contato-container :is(input, textarea)::placeholder {
  color: #4b6879;
}

.contato-container :is(input, textarea):focus {
  border: 2px solid #051620;
  box-shadow: 0 0 0 2px #ff8833;
}

footer {
  border-top: 1px solid #4b6879;
  background-color: #051620;
  color: #4b6879;
}

footer div {
  padding: 43px 0;
  max-width: 979px;
  margin: 0 auto;
}

@media (min-width: 480px) and (max-width: 768px) {
  h2 {
    font-size: 28px;
    margin-bottom: 37px;
  }

  h2::before {
    width: 150px;
    height: 8px;
    margin-bottom: 37px;
  }

  .hero-banner {
    padding-bottom: 60px;
  }

  .header-container {
    max-width: 667px;
  }

  .nav-links {
    display: none;
  }

  .btn-hamburguer {
    display: block;
  }

  .introducao-content {
    max-width: 667px;
  }

  .introducao-content > div h1 {
    max-width: 347px;
    font-size: 36px;
    line-height: 52px;
    margin-bottom: 17px;
  }

  .introducao-content > div h1::before {
    width: 155px;
    margin-bottom: 28px;
  }

  .introducao-content > div p {
    max-width: 430px;
    margin-bottom: 16px;
  }

  .introducao-content > div a[type="button"],
  form button[type="submit"] {
    font-size: 14px;
    display: block;
  }

  #sobre > div {
    padding: 60px 10px;
    max-width: 667px;
  }

  div > .sobre-container {
    display: block;
  }

  div > .sobre-container div:nth-child(2) {
    display: none;
  }

  #servicos > div {
    padding: 0 10px 60px 10px;
    max-width: 667px;
  }

  .servicos-container {
    justify-content: space-between;
    flex-direction: column-reverse;
    margin-top: 24px;
  }

  .servicos-container div:nth-child(1) {
    margin-top: 28px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }

  #vantagens > div {
    max-width: 667px;
  }

  #vantagens p {
    margin-bottom: 24px;
  }

  #vantagens ul li:not(:last-of-type) {
    margin-bottom: 24px;
  }

  #contato > div {
    max-width: 667px;
  }

  .contato-container > div:nth-child(1) {
    padding-right: 5%;
  }

  .contato-container > div:nth-child(2) {
    padding-left: 5%;
  }

  footer div {
    max-width: 667px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 0 30px;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 13px;
  }

  h2::before {
    width: 83px;
    height: 6px;
    margin-bottom: 28px;
  }

  .hero-banner {
    padding-bottom: 87px;
  }

  .nav-links {
    display: none;
  }

  .nav-links a {
    color: #f1f1f1;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px;
  }

  .btn-hamburguer {
    display: block;
  }

  .introducao-content {
    padding: 0 30px;
  }

  .introducao-content > div h1 {
    max-width: 311px;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 22px;
  }

  .introducao-content > div h1::before {
    width: 88px;
    height: 6px;
    margin-bottom: 25px;
  }

  .introducao-content > div p {
    margin-bottom: 25px;
  }

  .introducao-content > div a[type="button"],
  form button[type="submit"] {
    display: block;
    max-width: 100%;
  }

  #sobre > div {
    padding: 47px 30px;
  }

  div > .sobre-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  div > .sobre-container div:nth-child(2) {
    display: none;
  }

  #sobre p {
    margin-bottom: 10px;
  }

  #servicos > div {
    padding: 0 30px 47px 30px;
  }

  .servicos-container {
    flex-direction: column-reverse;
    justify-content: space-between;
    row-gap: 27px;
    margin-top: 13px;
  }

  .servicos-container div:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .servicos-container div:nth-child(2) li:not(:last-child) {
    margin-bottom: 10px;
  }

  #vantagens > div {
    padding: 0 30px 47px 30px;
  }

  #vantagens p {
    line-height: 24px;
    margin-bottom: 10px;
  }

  #vantagens ul li:not(:last-of-type) {
    margin-bottom: 10px;
  }

  #contato {
    padding: 47px 30px;
  }

  .contato-container {
    flex-direction: column;
  }

  .contato-container::after {
    display: none;
  }

  .contato-container > div:nth-child(1) {
    width: 100%;
    padding-right: 0;
    padding-bottom: 40px;
    border-bottom: 1px solid #4b6879;
    margin-bottom: 40px;
  }

  .contato-container > div:nth-child(2) {
    width: 100%;
    padding-left: 0;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 25px;
  }

  .contato-container > div:nth-child(2) div {
    padding: 0;
  }

  .contato-container > div:nth-child(2) div:nth-child(2) {
    border: none;
  }

  form button[type="submit"] {
    display: block;
    width: 100%;
    text-align: left;
  }

  footer div {
    font-size: 14px;
    padding: 20px 30px;
  }
}
